spring:
  application:
    name: account
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=accountdb
    username: postgres
    password: 1

    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
